<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ошибка 404</title>
  <%- include('blocks/head.ejs') %>
</head>

<body>
  <%- include('blocks/preloader.ejs') %>
  <header>
    <%- include('blocks/header.ejs') %>
  </header>

  <article>
    <div class="errorPlace">
      <h1>Страницы не существует...</h1>
      <div style='margin: 20px 0;'><a href="/">На главную</a></div>
      <img src='/img/404_error.png' />
    </div>
  </article>
</body>

</html>