<script>
    if (isDarkMode) {
        document.write(`<div id="page-preloader" style="background-color: #222"><span class="spinner"></span></div>`)
    } else {
        document.write(`<div id="page-preloader"><span class="spinner"></span></div>`)
    }
</script>