<script>
    if (isDarkMode) {
        document.write(`<div id="page-preloader" style="background-color: ${DARK_BACKGROUND}"><span class="spinner"></span></div>`)
    } else {
        document.write(`<div id="page-preloader" style="background-color: ${WHITE_BACKGROUND}"><span class="spinner"></span></div>`)
    }
</script>