.add_picture_link {
  width: 32%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 12px;
  outline-offset: -12px;
  background-color: #e0f2f7;
  font-family: 'Segoe UI';
  color: #1f3c44;
  transition: all 0.2s;
  align-self: center;
  box-sizing: border-box;
}
.add_picture_link.focused {
  border: 1px solid #007bffc7;
  box-shadow: 0px 0px 1px #007bff;
}

.add_picture_link div {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  z-index: 10;
  height: 100%;

  /* Dashed */
  background: 
    linear-gradient(90deg, #5d5d5d 50%, transparent 50%),
    linear-gradient(0deg, #5d5d5d 50%, transparent 50%),
    linear-gradient(90deg, #5d5d5d 50%, transparent 50%),
    linear-gradient(0deg, #5d5d5d 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 15px 2px, 2px 15px, 15px 2px, 2px 15px;
  background-position: left top, right top, left bottom, left top;
}

.add_picture_link:hover > div {
  animation: border-dance 4s infinite linear;
}

.add_picture_link.dragover {
  background-color: #fafafa;
  outline-offset: -20px;
}
.add_picture_link.dragover > div {
  /* Dashed */
  background: 
    linear-gradient(90deg, #2b2a2a 50%, transparent 50%),
    linear-gradient(0deg, #2b2a2a 50%, transparent 50%),
    linear-gradient(90deg, #2b2a2a 50%, transparent 50%),
    linear-gradient(0deg, #2b2a2a 50%, transparent 50%);
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 15px 2px, 2px 15px, 15px 2px, 2px 15px;
  background-position: left top, right top, left bottom, left top;
  animation: border-dance 4s infinite linear;
}
	
@keyframes border-dance {
  0% {
    background-position: left top, right top, right bottom, left bottom;
  }
  100% {
    background-position: right top, right bottom, left bottom, left top;
  }
}

.add_picture_link img {
  width: 40%;
  min-width: 35px;
  user-select: none;
}

.add_picture_link label {
  font-weight: bold;
  font-size: 1vw;
}

.add_picture_link:hover {
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

.add_picture_link:hover label {
  cursor: pointer;
  text-decoration: underline;
}

.add_picture_link span {
  font-size: 1vw;
}

.add_picture_link input[type=file] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: 10;
}

@media (max-width: 1105px)
{
  .add_picture_link span {
    display: none;
  }

  .add_picture_link label {
    margin-top: 10px;
    font-size: 1.1vw;
  }
}

@media (max-width: 960px)
{
  .add_picture_link label {
    display: none;
  }

  .add_picture_link img {
    width: 80%;
  }
}

@media (max-width: 800px)
{

  .add_picture_link label {
    font-size: 2.2vw;
    display: block;
  }

  .add_picture_link span {
    display: block;
    font-size: 1.8vw;
  }

  .add_picture_link img {
    width: 40%;
  }
}

@media (max-width: 600px)
{

  .add_picture_link span {
    display: none;
  }

  .add_picture_link label {
    font-size: 2.5vw;
  }
}

@media (max-width: 520px)
{
  .add_picture_link label {
    display: none;
  }

  .add_picture_link img {
    width: 80%;
  }
}